*,
*::before,
*::after {
  box-sizing: border-box;
}

input {
  border-style: none;
  outline: none;
}

div[data-page=template] {
  display: none;
}

body {
  background-color: black;
  background-image: url("https://free4kwallpapers.com/uploads/originals/2020/10/03/sunset-on-a-desert-with-a-starry-sky-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  margin: 0 auto;
}

/*---------------Login Page------------*/
#login_background {
  position: absolute;
  margin: auto;
  padding: 25px;
  backdrop-filter: blur(2px);
  top: 18%;
  left: 50%;
  width: 20%;
  height: fit-content;
  border: 1px solid #2e2e2e;
  list-style-type: none;
  background: rgba(46, 46, 46, 0.6);
  align-self: center;
  overflow: auto;
  transform: translate(-50%, -50%);
}

#Login_welcome_message {
  font-family: "lato", sans-serif;
  text-size-adjust: auto;
  font-size: 1.2vw;
  color: #bfd2ff;
  text-align: center;
}

#login_text {
  padding: 0.2px;
  margin: 0px;
  font-family: "lato", sans-serif;
  text-size-adjust: auto;
  color: #bfd2ff;
}

#name_box {
  background: rgba(60, 60, 60, 0.5);
  color: silver;
}

#pass_box {
  background: rgba(60, 60, 60, 0.5);
}

#name_box {
  position: relative;
  transition: 180ms box-shadow ease-in-out;
}

#name_box:focus {
  border-color: rgba(58, 4, 87, 0.6);
  box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
  outline: 5px solid transparent;
}

#name_box_button {
  position: relative;
}

#name_box_button:hover {
  border: 0px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

#pass_box:focus {
  border-color: rgba(58, 4, 87, 0.6);
  box-shadow: 0 0 0 3px hsla(var(--input-focus-h), var(--input-focus-s), calc(var(--input-focus-l) + 40%), 0.8);
  outline: 5px solid transparent;
}

/*---------------Name Box--------------*/
div.login_Section {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-10%, -20%);
  width: 60%;
  opacity: 100%;
}

div.login_Section.moved {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  top: 0px;
  left: 0px;
  width: 50%;
  transform: translate(0%, 0%);
}

#clock {
  animation: flow 20s ease-in-out infinite;
  font-size: 180%;
  align-items: center;
  justify-content: center;
  color: #bfd2ff;
  background: linear-gradient(90deg, #8181bb 0%, #8eacf5 45%, white 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "lato", sans-serif;
}

#clock.hidden {
  opacity: 0%;
  display: none;
}

#clock.shown {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  opacity: 100%;
  display: show;
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
div.login_background {
  background: rgba(60, 60, 60, 0.5);
  backdrop-filter: blur(2px);
  position: absolute;
  padding: 30px;
  width: 30%;
  /* width from left side of the screen*/
  height: fit-content;
}

#Chat_UI.hidden {
  opacity: 0%;
  display: none;
}

#Chat_UI.shown {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  opacity: 100%;
  display: show;
}

/*---------------Server List--------------*/
div.server_header {
  background: #3a0457;
  position: absolute;
  top: 17%;
  height: 6%;
  width: 15%;
  border-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border-radius: 2px;
  background: rgba(0, 60, 60, 0.4);
}
div.server_header:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(to right, #b294ff, #57e6e6, #feffb8, #57e6e6, #b294ff, #57e6e6);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}

ul.server_list {
  background: rgba(58, 4, 87, 0.7);
  backdrop-filter: blur(2px);
  color: white;
  position: absolute;
  left: 0px;
  top: 21%;
  list-style-type: none;
  padding: 30px;
  width: 15%;
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
}

ul.server_list_chats {
  background: rgba(58, 40, 87, 0.7);
  backdrop-filter: blur(2px);
  color: white;
  position: absolute;
  left: 15%;
  top: 21%;
  list-style-type: none;
  padding: 30px;
  width: 0px;
  height: 60vh;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0%;
}

#Server_chat.Selected {
  background: rgba(158, 40, 87, 0.7);
}

ul.server_list_chats.appearTransition {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  width: 7.1%;
  left: 8%;
  opacity: 100%;
}

ul.server_list_chats.hideTransition {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  width: 0%;
  left: 15%;
  opacity: 0%;
}

ul.server_list.appearTransition {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  width: 8%;
}

ul.server_list.hideTransition {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  width: 15%;
}

ul.server_list li {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #eee;
  cursor: pointer;
  color: #bfd2ff;
  padding: 10px;
  margin: 0px;
  max-height: 30px;
  overflow: hidden;
}

ul.server_list li * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul.server_list li.active {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  z-index: 200;
  color: #bfd2ff;
  max-height: 3000px;
  padding: 10px 20px;
  margin: 10px -10px;
  transition: all 0.2s, max-height 4.8s;
}

ul.server_list li {
  font-size: 18px;
  line-height: 20px;
  position: relative;
}

ul.server_list p::after {
  content: "+";
  text-align: center;
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.5;
  right: 0;
  top: 0;
}

ul.server_list:hover p::after {
  opacity: 1;
}

ul.server_list.active p::after {
  content: "-";
}

ul li a:hover,
ul li p:hover {
  color: red;
}

#Server {
  padding: 0px;
  margin: 0px;
  font-family: "lato", sans-serif;
  font-size: 15px;
  color: red;
  text-align: Center;
}

#Server_chat {
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 15px;
  margin-bottom: 7px;
  font-family: "lato", sans-serif;
  font-size: 15px;
  background: rgba(0, 132, 255, 0.5);
  text-align: center;
}

div.server_header p {
  padding: 0.2px;
  margin: 11px;
  text-align: center;
  line-height: 35px;
  font-family: Lucida Console;
  font-size: 20px;
  color: #bfd2ff;
  text-decoration: underline overline #bfd2ff;
}

.server_spacer {
  padding: 5px;
}

ul.server_list Server:hover Server:focus {
  color: blue;
}

#new_server_button {
  border: 0 solid;
  height: fit-content;
  margin-top: 16px;
  margin-left: 20px;
  margin-right: 10px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

#server_text_chat {
  opacity: 0%;
}

#server_text_chat.appearTransition {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  opacity: 100%;
}

#server_text_chat.hideTransition {
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  opacity: 0%;
}

#new_server_button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

/*---------------Profile List--------------*/
ul.profile_list {
  background: rgba(58, 4, 87, 0.7);
  backdrop-filter: blur(2px);
  position: absolute;
  color: white;
  top: 0%;
  right: 0px;
  top: -17px;
  padding: 30px;
  width: 15%;
  height: 100vh;
  overflow: auto;
}

#profile_list_text {
  position: absolute;
  padding: 0.2px;
  margin: 0px;
  font-family: Lucida Console;
  font-size: 20px;
  right: 10%;
  color: #bfd2ff;
}

ul.profile_list li {
  list-style-type: none;
  padding: 12px;
  border-radius: 15px;
  margin-bottom: 7px;
  font-family: Helvetica, Arial, sans-serif;
  background: rgba(0, 132, 255, 0.5);
  text-align: center;
}

#user_online {
  background: rgba(232, 218, 14, 0.5);
}

/*---------------chatbox window--------------*/
canvas {
  position: absolute;
  left: 15%;
  width: 70%;
  height: 8%;
  background: transparent;
  cursor: pointer;
}

li.chat_message {
  color: white;
  font-size: 20px;
  background: rgba(0, 0, 0, 0);
  padding-top: 5px;
  border-radius: 20px;
}

#my_message {
  background-color: orange;
  color: white;
  font-size: 20px;
  width: fit-content;
  max-width: 400px;
  margin-left: auto;
  margin-right: 5px;
  padding: 5px;
  border-radius: 20px;
}

#other_user_messages {
  background-color: purple;
  color: white;
  font-size: 20px;
  width: fit-content;
  max-width: 400px;
  margin-left: -35px;
  margin-right: auto;
  padding: 5px;
  border-radius: 20px;
}

.chat_spacer {
  font-family: Lucida Console;
  font-size: 17px;
  color: #bfd2ff;
  position: relative;
  left: 0px;
  margin-left: -35px;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: -1px;
}

.chat_window_spacer {
  padding-top: 2%;
}

ol.chat_window {
  position: relative;
  margin: auto;
  backdrop-filter: blur(2px);
  top: 18%;
  width: 70%;
  height: 90vh;
  border: 1px solid #2e2e2e;
  list-style-type: none;
  background: rgba(46, 46, 46, 0.6);
  align-self: center;
  overflow: auto;
}

/*---------------- border animation ------------*/
/*
div.chat_section {
  position: absolute;
  top: 5%;
  left: 15%;
  width: 70%;
  margin: 0px;
}

div.chat_section span {
  position: absolute;
  display: block;
}

div.chat_section span:nth-child(1) {
  // top side
  height: 3000px;
  width: 200px;
  top: 400px;
  left: 100px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}
@keyframes span1 {
  0% {
    left: 100px;
  }
  100% {
    left: 500px;
  }
}

div.chat_section span:nth-child(2) {
  // right side
  height: 70px;
  width: 3px;
  top: -70px;
  right: 15%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2 {
  0% {
    top: 5%;
  }
  100% {
    top: 570px;
  }
}
div.chat_section span:nth-child(3) {
  // bottom side
  height: 3px;
  width: 200px;
  right: 100px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3 {
  0% {
    right: 100px;
  }
  100% {
    right: 500px;
  }
}

div.chat_section span:nth-child(4) {
  // left side
  height: 70px;
  width: 3px;
  bottom: 50px;
  left: 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4 {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: 500px;
  }
}
*/
/*--------------- Scroll Bar ----------------*/
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(60, 60, 60, 0.5);
}

*::-webkit-scrollbar-thumb {
  background-color: #2e2e2e;
  border-radius: 20px;
}

/*---------------user send message box--------------*/
/* div.Message_Box {
  margin: 0;
  position: absolute;
  bottom: -1%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
div.spacer {
  padding: 5px;
}

.Message_Box {
  border-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
  border-radius: 2px;
  background: rgba(0, 60, 60, 0.4);
}
.Message_Box:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(to right, #b294ff, #57e6e6, #feffb8, #57e6e6, #b294ff, #57e6e6);
  background-size: 500% auto;
  animation: gradient 3s linear infinite;
}

.Message_Box input {
  flex-grow: 1;
  background: rgba(60, 60, 60, 0.6);
  color: #bfd2ff;
  font-size: 1.8rem;
  line-height: 2.4rem;
  vertical-align: middle;
}
.Message_Box input::-webkit-input-placeholder {
  color: #bfd2ff;
}